<a href="https://colab.research.google.com/github/monicafar147/regression-predict-api-template/blob/Rachel/Zindi_challenge_ct_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*   make sure you are working in your own branch that you cloned from git
*   to commit your notebook changes to git:
1.   file
2.   save a copy in github
3.   choose your branch from branches dropdown
4.   change commit message to what you did e.g. "fixed dataframe indexes"
5.   click ok

#Data Preprocessing Tools

##Importing the libraries

In [0]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

##Importing the dataset

In [0]:
dataset = pd.read_csv('Train.csv')
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, -1].values

In [61]:
print(X)

[['Order_No_4211' 'User_Id_633' 'Bike' ... -1.3004062 36.829741
  'Rider_Id_432']
 ['Order_No_25375' 'User_Id_2285' 'Bike' ... -1.2950041
  36.814358299999995 'Rider_Id_856']
 ['Order_No_1899' 'User_Id_265' 'Bike' ... -1.300921 36.828195
  'Rider_Id_155']
 ...
 ['Order_No_2831' 'User_Id_2956' 'Bike' ... -1.2584143 36.8048002
  'Rider_Id_697']
 ['Order_No_6174' 'User_Id_2524' 'Bike' ... -1.2792094999999999
  36.7948725 'Rider_Id_347']
 ['Order_No_9836' 'User_Id_718' 'Bike' ... -1.320157 36.830887
  'Rider_Id_177']]

In [62]:
print(y)

[ 745 1993  455 ... 2953 1380 2128]

## Taking care of missing data

## Encoding categorical data

### Encoding the Independent Variable

### Encoding the Dependent Variable

## Feature Scaling

#Dunyiswa

#Monica

#Monique

#Rachel

In [0]:
#riders = pd.read_csv('Riders.csv')
train = pd.read_csv('Train.csv')

In [64]:
train.head(3)

         Order No       User Id  ...      Rider Id  Time from Pickup to Arrival
0   Order_No_4211   User_Id_633  ...  Rider_Id_432                          745
1  Order_No_25375  User_Id_2285  ...  Rider_Id_856                         1993
2   Order_No_1899   User_Id_265  ...  Rider_Id_155                          455

[3 rows x 29 columns]

In [65]:
print(train.dtypes)

Order No                                      object
User Id                                       object
Vehicle Type                                  object
Platform Type                                  int64
Personal or Business                          object
Placement - Day of Month                       int64
Placement - Weekday (Mo = 1)                   int64
Placement - Time                              object
Confirmation - Day of Month                    int64
Confirmation - Weekday (Mo = 1)                int64
Confirmation - Time                           object
Arrival at Pickup - Day of Month               int64
Arrival at Pickup - Weekday (Mo = 1)           int64
Arrival at Pickup - Time                      object
Pickup - Day of Month                          int64
Pickup - Weekday (Mo = 1)                      int64
Pickup - Time                                 object
Arrival at Destination - Day of Month          int64
Arrival at Destination - Weekday (Mo = 1)      int64
Arrival at Destination - Time                 object
Distance (KM)                                  int64
Temperature                                  float64
Precipitation in millimeters                 float64
Pickup Lat                                   float64
Pickup Long                                  float64
Destination Lat                              float64
Destination Long                             float64
Rider Id                                      object
Time from Pickup to Arrival                    int64
dtype: object

In [0]:
train['Placement - Time'] = pd.to_datetime(train['Placement - Time']).dt.time
train['Confirmation - Time'] = pd.to_datetime(train['Confirmation - Time']).dt.time
train['Arrival at Pickup - Time'] = pd.to_datetime(train['Arrival at Pickup - Time']).dt.time
train['Pickup - Time'] = pd.to_datetime(train['Pickup - Time']).dt.time
train['Arrival at Destination - Time'] = pd.to_datetime(train['Arrival at Destination - Time']).dt.time

In [67]:
train.dtypes

Order No                                      object
User Id                                       object
Vehicle Type                                  object
Platform Type                                  int64
Personal or Business                          object
Placement - Day of Month                       int64
Placement - Weekday (Mo = 1)                   int64
Placement - Time                              object
Confirmation - Day of Month                    int64
Confirmation - Weekday (Mo = 1)                int64
Confirmation - Time                           object
Arrival at Pickup - Day of Month               int64
Arrival at Pickup - Weekday (Mo = 1)           int64
Arrival at Pickup - Time                      object
Pickup - Day of Month                          int64
Pickup - Weekday (Mo = 1)                      int64
Pickup - Time                                 object
Arrival at Destination - Day of Month          int64
Arrival at Destination - Weekday (Mo = 1)      int64
Arrival at Destination - Time                 object
Distance (KM)                                  int64
Temperature                                  float64
Precipitation in millimeters                 float64
Pickup Lat                                   float64
Pickup Long                                  float64
Destination Lat                              float64
Destination Long                             float64
Rider Id                                      object
Time from Pickup to Arrival                    int64
dtype: object

In [68]:
train.head()

         Order No       User Id  ...      Rider Id  Time from Pickup to Arrival
0   Order_No_4211   User_Id_633  ...  Rider_Id_432                          745
1  Order_No_25375  User_Id_2285  ...  Rider_Id_856                         1993
2   Order_No_1899   User_Id_265  ...  Rider_Id_155                          455
3   Order_No_9336  User_Id_1402  ...  Rider_Id_855                         1341
4  Order_No_27883  User_Id_1737  ...  Rider_Id_770                         1214

[5 rows x 29 columns]

Encoding binary data (business = 0 & personal = 1)

In [70]:
pd.get_dummies(train['Personal or Business'], drop_first=True)

       Personal
0             0
1             1
2             0
3             0
4             1
...         ...
21196         1
21197         0
21198         0
21199         1
21200         0

[21201 rows x 1 columns]

#Wright