<a href="https://colab.research.google.com/github/monicafar147/regression-predict-api-template/blob/Rachel/Zindi_challenge_ct_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*   make sure you are working in your own branch that you cloned from git
*   to commit your notebook changes to git:
1.   file
2.   save a copy in github
3.   choose your branch from branches dropdown
4.   change commit message to what you did e.g. "fixed dataframe indexes"
5.   click ok

#Data Preprocessing Tools

##Importing the libraries

In [0]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

##Importing the dataset

In [0]:
dataset = pd.read_csv('Train.csv')
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, -1].values

In [41]:
print(X)

[['Order_No_4211' 'User_Id_633' 'Bike' ... -1.3004062 36.829741
  'Rider_Id_432']
 ['Order_No_25375' 'User_Id_2285' 'Bike' ... -1.2950041
  36.814358299999995 'Rider_Id_856']
 ['Order_No_1899' 'User_Id_265' 'Bike' ... -1.300921 36.828195
  'Rider_Id_155']
 ...
 ['Order_No_2831' 'User_Id_2956' 'Bike' ... -1.2584143 36.8048002
  'Rider_Id_697']
 ['Order_No_6174' 'User_Id_2524' 'Bike' ... -1.2792094999999999
  36.7948725 'Rider_Id_347']
 ['Order_No_9836' 'User_Id_718' 'Bike' ... -1.320157 36.830887
  'Rider_Id_177']]

In [42]:
print(y)

[ 745 1993  455 ... 2953 1380 2128]

## Taking care of missing data

## Encoding categorical data

### Encoding the Independent Variable

### Encoding the Dependent Variable

## Feature Scaling

#Dunyiswa

#Monica

#Monique

#Rachel

In [0]:
#riders = pd.read_csv('Riders.csv')
train = pd.read_csv('Train.csv')

In [44]:
train.head(30)

          Order No       User Id  ...      Rider Id  Time from Pickup to Arrival
0    Order_No_4211   User_Id_633  ...  Rider_Id_432                          745
1   Order_No_25375  User_Id_2285  ...  Rider_Id_856                         1993
2    Order_No_1899   User_Id_265  ...  Rider_Id_155                          455
3    Order_No_9336  User_Id_1402  ...  Rider_Id_855                         1341
4   Order_No_27883  User_Id_1737  ...  Rider_Id_770                         1214
5    Order_No_7408  User_Id_1342  ...  Rider_Id_124                         3191
6   Order_No_22680  User_Id_2803  ...  Rider_Id_114                         1380
7   Order_No_21578  User_Id_1075  ...  Rider_Id_913                          646
8    Order_No_5234   User_Id_733  ...  Rider_Id_394                         3398
9    Order_No_1768  User_Id_2112  ...  Rider_Id_660                         3439
10    Order_No_823  User_Id_2820  ...  Rider_Id_208                         1056
11   Order_No_2533   User_Id_704  ...  Rider_Id_937                         3898
12   Order_No_7842  User_Id_1990  ...  Rider_Id_868                         2642
13   Order_No_6452  User_Id_3295  ...  Rider_Id_536                         2904
14   Order_No_9463   User_Id_248  ...  Rider_Id_607                          407
15  Order_No_21335  User_Id_3599  ...  Rider_Id_427                         1906
16  Order_No_21307   User_Id_198  ...  Rider_Id_265                         2308
17   Order_No_8201  User_Id_1500  ...  Rider_Id_725                         2639
18  Order_No_11630   User_Id_391  ...  Rider_Id_436                         1570
19  Order_No_19866  User_Id_3722  ...  Rider_Id_447                         4220
20  Order_No_23338  User_Id_1960  ...  Rider_Id_366                         1112
21  Order_No_14810  User_Id_3698  ...  Rider_Id_856                         2124
22  Order_No_12412  User_Id_1362  ...  Rider_Id_881                         1488
23    Order_No_663  User_Id_1404  ...  Rider_Id_338                         1404
24   Order_No_4818  User_Id_2030  ...  Rider_Id_596                         3617
25   Order_No_8816   User_Id_346  ...   Rider_Id_76                         2606
26  Order_No_17338  User_Id_1582  ...  Rider_Id_407                         1149
27  Order_No_12130   User_Id_627  ...  Rider_Id_630                         1731
28  Order_No_21312  User_Id_3560  ...  Rider_Id_237                         3241
29  Order_No_13398  User_Id_2383  ...  Rider_Id_407                          713

[30 rows x 29 columns]

In [45]:
print(train.dtypes)

Order No                                      object
User Id                                       object
Vehicle Type                                  object
Platform Type                                  int64
Personal or Business                          object
Placement - Day of Month                       int64
Placement - Weekday (Mo = 1)                   int64
Placement - Time                              object
Confirmation - Day of Month                    int64
Confirmation - Weekday (Mo = 1)                int64
Confirmation - Time                           object
Arrival at Pickup - Day of Month               int64
Arrival at Pickup - Weekday (Mo = 1)           int64
Arrival at Pickup - Time                      object
Pickup - Day of Month                          int64
Pickup - Weekday (Mo = 1)                      int64
Pickup - Time                                 object
Arrival at Destination - Day of Month          int64
Arrival at Destination - Weekday (Mo = 1)      int64
Arrival at Destination - Time                 object
Distance (KM)                                  int64
Temperature                                  float64
Precipitation in millimeters                 float64
Pickup Lat                                   float64
Pickup Long                                  float64
Destination Lat                              float64
Destination Long                             float64
Rider Id                                      object
Time from Pickup to Arrival                    int64
dtype: object

In [0]:
train['Placement - Time'] = pd.to_datetime(train['Placement - Time'])
train['Confirmation - Time'] = pd.to_datetime(train['Confirmation - Time'])
train['Arrival at Pickup - Time'] = pd.to_datetime(train['Arrival at Pickup - Time'])
train['Pickup - Time'] = pd.to_datetime(train['Pickup - Time'])
train['Arrival at Destination - Time'] = pd.to_datetime(train['Arrival at Destination - Time'])

In [47]:
train.dtypes

Order No                                             object
User Id                                              object
Vehicle Type                                         object
Platform Type                                         int64
Personal or Business                                 object
Placement - Day of Month                              int64
Placement - Weekday (Mo = 1)                          int64
Placement - Time                             datetime64[ns]
Confirmation - Day of Month                           int64
Confirmation - Weekday (Mo = 1)                       int64
Confirmation - Time                          datetime64[ns]
Arrival at Pickup - Day of Month                      int64
Arrival at Pickup - Weekday (Mo = 1)                  int64
Arrival at Pickup - Time                     datetime64[ns]
Pickup - Day of Month                                 int64
Pickup - Weekday (Mo = 1)                             int64
Pickup - Time                                datetime64[ns]
Arrival at Destination - Day of Month                 int64
Arrival at Destination - Weekday (Mo = 1)             int64
Arrival at Destination - Time                datetime64[ns]
Distance (KM)                                         int64
Temperature                                         float64
Precipitation in millimeters                        float64
Pickup Lat                                          float64
Pickup Long                                         float64
Destination Lat                                     float64
Destination Long                                    float64
Rider Id                                             object
Time from Pickup to Arrival                           int64
dtype: object

#Wright